/var/log/{{ APP_NAME }}/*.log {
    weekly
    missingok
    rotate 52
    compress
    notifempty
    create 0660 ubuntu ubuntu
    sharedscripts
    postrotate
       /usr/bin/systemctl restart {{ APP_NAME }}
endscript
}
