/var/log/{{ app_name }}/*.log {
    weekly
    missingok
    rotate 5
    compress
    notifempty
    create 0660 ubuntu ubuntu
    sharedscripts
    postrotate
       /usr/bin/systemctl restart {{ app_name }}
endscript
}
