[Unit]
Description={{ app_name }} daemon
After=network.target

[Service]
Type=simple
Restart=always

ExecStart={{ PATH_TO_PYTHON }} /opt/apps/{{ app_name }}/{{ LIVE_APP_SCRIPT }}

[Install]
WantedBy=multi-user.target

# vim: ai et ts=4 sw=4 sts=4 nu
